{% extends "base.html" %}

{% block title %}
Results - {{url}}
{% endblock %}

{% block content %}
<h1>Results for {{url}}</h1>
{% if statistics %}
<ul>
{% for key, value in statistics.items %}
  <li>{{key}} - {{value}}</li>
{% endfor %}
</ul>
{% else %}
<h2>No keywords</h2>
{% endif %}
{% endblock %}
